<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MM_Main_Meals"></activity>
        <activity android:name=".EM_EventManagementHome"></activity>
        <activity android:name=".signup" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addOffer" />
        <activity android:name=".showOffers" />
        <activity android:name=".offer_management"></activity>
        <activity android:name=".reservation_s1" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>