<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MM_Short_Eats_View"></activity>
        <activity android:name=".MM_Short_Eats_Management" />
        <activity android:name=".adminDashboard" />
        <activity android:name=".reservationlist" />
        <activity android:name=".MM_View_Meal_View" />
        <activity android:name=".MM_Search_Bar" />
        <activity android:name=".MM_Delete_All_PU" />
        <activity android:name=".MM_Edit_Meal_PU" />
        <activity android:name=".EM_UpdatedView" />
        <activity
            android:name=".MM_Add_Main_Meal_PU"
            android:theme="@style/AppTheme.MainMealPopUp" />
        <activity android:name=".MM_MealManagement" />
        <activity android:name=".EM_SelectionPage" />
        <activity android:name=".EM_EventView" />
        <activity android:name=".EM_Addhalls" />
        <activity android:name=".EM_HallView" />
        <activity android:name=".EM_AddhallDetails" />
        <activity android:name=".TravelHome" />
        <activity android:name=".travel_admin" />
        <activity android:name=".EM_EventDetails" />
        <activity android:name=".Eventbook" />
        <activity
            android:name=".MM_Main_Meal_View_PU"
            android:theme="@style/AppTheme.MainMealPopUp" />
        <activity android:name=".MM_Pastry_Shop" />
        <activity android:name=".MM_Main_Meals" />
        <activity android:name=".EM_EventManagementHome" />
        <activity android:name=".signup" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addOffer" />
        <activity android:name=".showOffers" />
        <activity android:name=".offer_management" />
        <activity android:name=".reservation_s1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_location" />
        <activity android:name=".activity_update__details" />
        <activity android:name=".activity_payment_details" />
        <activity android:name=".activity_payment_account" />
        <activity android:name=".travel_option" />
    </application>

</manifest>